replicaCount: 1

image:
  repository: ghcr.io/frink-okn/frink-query-ui
  tag: latest

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

service:
  type: ClusterIP
  port: 8080

host: frink.apps.renci.org
path: /

ingress:
  enabled: True
  tls: true
  public: true

gateway:
  enabled: False
  parentRefs:
    - name: ingress-gateway
      namespace: ingress
